{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-2">
    <ul class="list-group sidebar">
      <li class="list-group-item table-link active" data-table="specialists">Specialisti</li>
      <li class="list-group-item table-link" data-table="users">Utenti</li>
      <li class="list-group-item table-link" data-table="afferenze">Afferenze</li>
      <li class="list-group-item table-link" data-table="sedi">Sedi</li>
      <li class="list-group-item table-link" data-table="provvedimenti">Provvedimenti</li>
      <li class="list-group-item table-link" data-table="loginusers">Login Users</li>
    </ul>
  </div>
  <div class="col-md-10 content-area">
    <input type="text" id="search-bar" class="form-control mb-3" placeholder="Cerca...">
    <table class="table table-striped" id="data-table">
      <thead></thead>
      <tbody></tbody>
    </table>
  </div>
</div>
{% endblock %}
