body {
    padding-top: 4.5rem;
    background-color: #f5f5f5;
}
.navbar-brand {
    font-weight: bold;
}
.table-actions {
    white-space: nowrap;
}
.sidebar {
    position: fixed;
    top: 4.5rem;
    bottom: 0;
    width: 200px;
    overflow-y: auto;
}
.content-area {
    margin-left: 210px;
}


table.table-custom {
    background-color: #fff;
}

table.table-custom thead th {
    position: sticky;
    top: 0;
    background-color: #e9ecef;
    z-index: 1;
}

table.table-custom tbody tr:hover {
    background-color: #f1f1f1;
}


#columns-list li {
    cursor: move;
}
